.main-container-pop-movies {
  min-height: 100vh;
  background: #131313;
}

.search-items {
  padding: 20px 120px;
  min-height: 65vh;
}

.no-results-container {
  min-height: 65vh;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.no-results-para {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: white;
}

.guid-container {
}

.guid-heading {
  color: whitesmoke;
  font-size: 35px;
  font-weight: 500;
}

.guid-para {
  color: aliceblue;
  font-size: 20px;
  font-weight: 300;

  line-height: 40px;
}

.span-ele-guid {
  color: #e50914;
  font-size: 24px;
  font-weight: 400;

  line-height: 20px;
  transition: all 500ms;
}

.guid-para:hover .span-ele-guid {
  font-size: 25px;
  font-weight: 450;
}

.loader-view {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
