.footer-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
}
.footer-icons-container {
  margin-bottom: 10px;
  display: flex;

  height: 30px;
}
.footer-icon {
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  transition: 0.5s;
  cursor: pointer;
}
.footer-para {
  color: white;
  font-weight: 500;
  margin-top: 0px;
}

.ho1:hover .a {
  color: lightcoral;
  font-size: 20px;
}
.ho2:hover .b {
  color: lightskyblue;
  font-size: 20px;
}
.ho3:hover .c {
  color: lightgreen;
  font-size: 20px;
}
.ho4:hover .d {
  color: lightsalmon;
  font-size: 20px;
}
